@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A3;
    margin: 0;
  }
  
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}