@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A3;
    margin: 0;
  }
  
:root{
  --font-display: "Playfair Display", ui-serif, Georgia, serif;
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
}
body { font-family: var(--font-sans); }
.font-display { font-family: var(--font-display); }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}